@import url("http://fonts.cdnfonts.com/css/maximum-impact");

body {
  background-color: rgb(216, 229, 249);
}

nav {
  background-color: #030340;
  padding: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
}
