@import url("http://fonts.cdnfonts.com/css/maximum-impact");

body {
  background-color: rgb(120, 141, 171);
  height: 100%;
}

nav {
  background-color: #030340;
  padding: 0.5em 1em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.5em;
}

@keyframes float {
  0% {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(0.1em);
  }
  100% {
    transform: translateY(0em);
  }
}

.scroll-arrow {
  animation: 2s ease-in-out infinite float;
}
